.navbar {
    
    background: #1C1A24;
    
    
  }

  .nav-link{
    color: #fff;
    font-weight:bold;
  }

  
  .dropdown-toggle {
    background: none !important;
    border: none !important;
    padding: 0;
  }
  